.img-container {
  margin-top: 48px;
  position: relative;
  color: white;
}

.img-container img {
  border-radius: 12px;
}
.img-container h2 {
  position: absolute;
  bottom: 48px;
  left: 12px;
}

.img-container h3 {
  position: absolute;
  bottom: 24px;
  left: 12px;
}
