#popup-control {
  width: 25%;
  background: #febb02;
  border-radius: 8px;
  padding: 12px;
  height: fit-content;
}

#popup-control input {
  width: 100%;
  height: 36px;
}

#popup-control h3 {
  margin-top: 12px;
  margin-bottom: 8px;
}

#popup-control > button {
  margin-top: 12px;
  width: 100%;
  height: 36px;
  background: #0071c2;
  color: white;
  border: #febb02;
}

#nested-popup {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}
#nested-popup label {
  flex: 45%;
}
#nested-popup input {
  width: 20%;
  justify-self: end;
  height: 24px;
}
.date-range-modal {
  position: absolute;
  z-index: 1;
}
